HSMDOMAIN1=
HSMDOMAIN2=

SECRET_B24=
MKVP=

MACHINE1=
MACHINE1_DESCRIPTION=""
MACHINE1_HKD_B24=

MACHINE2=
MACHINE2_DESCRIPTION=""
MACHINE2_HKD_B24=

HPCR_CERT=<<-EOT
EOT

# Container Configuration
IMAGEGREP11=
IMAGENGINX=
REGISTRY_URL="192.168.5.3:5000"
REGISTRY_USERNAME=registryuser
REGISTRY_PASSWORD=password
REGISTRY_CA=

# Logging Configuration
SYSLOG_HOSTNAME=192.168.5.3
SYSLOG_PORT=6514
SYSLOG_SERVER_CERT=<<-EOT
EOT
SYSLOG_CLIENT_CERT=<<-EOT
EOT
SYSLOG_CLIENT_KEY=<<-EOT
EOT

